
{% extends "layout.html" %}
{% block content %}

<h1 class="mt-4 mb-4">
    Compare Data
    <i class="loading-spinner fa fa-spinner fa-pulse fa-3x fa-fw" style="display:none;"></i>
    <span class="loading-spinner" style="display:none;">Loading...</span>
</h1>

<div class="row plot-setup">
    <div class="col-md-6">
        {% include "public/filter_samples_selectbox.html" %}
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header">Choose Fields to Plot</h4>
            <div class="card-body">
                <form class="mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Filter fields" id="fields_filter_input">
                        <div class="input-group-btn">
                            <button class="btn btn-outline-success" id="fields_selected_toggle">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Selected Only
                            </button>
                            <button class="btn btn-outline-danger" id="fields_clear_selection">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Clear
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="list-group comparison_fields" id="field_listgroup">
                {% for sf in sample_fields %}
                    <li href="#comparison_plot" class="list-group-item">
                    {{ sf.nicename }}
                    <span class="float-right">
                        <button class="btn btn-sm btn-outline-primary" data-fieldtype="x" data-fieldid="{{ sf.type_id }}" data-toggle="tooltip" title="Set as x-axis">
                            <i class="fa fa-fw fa-arrows-h" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-primary" data-fieldtype="y" data-fieldid="{{ sf.type_id }}" data-toggle="tooltip" title="Set as y-axis">
                            <i class="fa fa-fw fa-arrows-v" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-primary" data-fieldtype="z" data-fieldid="{{ sf.type_id }}" data-toggle="tooltip" title="Set as z-axis">
                            <i class="fa fa-fw fa-expand" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-primary" data-fieldtype="col" data-fieldid="{{ sf.type_id }}" data-toggle="tooltip" title="Set as marker colour">
                            <i class="fa fa-fw fa-paint-brush" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-primary" data-fieldtype="size" data-fieldid="{{ sf.type_id }}" data-toggle="tooltip" title="Set as marker size">
                            <i class="fa fa-fw fa-arrows" aria-hidden="true"></i>
                        </button>
                    </span>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card megaqc_plot" id="comparison_plot">
    <h4 class="card-header">
        <button id="save-plot-favourite" type="button" disabled class="float-right btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#save_plot_favourite_modal">
            <i class="fa fa-heart" aria-hidden="true"></i>
            Save plot favourite
        </button>
        <span id="plot-name">Comparison Plot</span>
    </h4>
    <div class="card-body">
        <div id="plotconfig">
            <label>
                <input type="checkbox" id="joinmarkers">
                Join points?
            </label>
            &nbsp;
            <label>
                <select id="pointsize">
                    <option>1</option>
                    <option>5</option>
                    <option selected="selected">10</option>
                    <option>15</option>
                    <option>20</option>
                </select>
                Point size
            </label>
        </div>
        <div id="plotdiv">
            <p class="text-secondary">Please choose fields for x and y axes</p>
        </div>
    </div>
</div>

<!-- Create New Filter Set -->
{% include "public/filter_samples_modal.html" %}

<!-- Modal for saving a favourite plot -->
{% include "public/save_plot_favourite_modal.html" %}

{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/js/filter_samples.js"></script>
<script type="text/javascript">
window.dist_ptype = 'hist';
window.hist_nbins = 40;
$(function(){

    // Filter field types by typing
    $('#fields_filter_input').keyup(function(e){
        filter_field_types();
    });

    // Toggle field types - selected only
    $('#fields_favourite_toggle, #fields_selected_toggle').click(function(e){
        e.preventDefault();
        $(this).toggleClass('active');
        filter_field_types();
    });

    // Clear field selection
    $('#fields_clear_selection').click(function(e){
        $('#field_listgroup li').removeClass('active');
        filter_field_types();
        create_plot();
    });

    // Function to filter the list of available plot types
    function filter_field_types(){
        var favs_only = $('#fields_favourite_toggle').hasClass('active');
        var selected_only = $('#fields_selected_toggle').hasClass('active');
        $('#field_listgroup li').each(function(e){
            var display = true;
            if(favs_only && $(this).find('.report-plot-type-save-fav').hasClass('fa-heart-o')){
                display = false;
            }
            if(selected_only && !$(this).hasClass('active')){
                display = false;
            }
            var ft = $('#fields_filter_input').val().trim().toLowerCase();
            var pt_name = $(this).text().trim().toLowerCase();
            if(ft.length > 0 && pt_name.indexOf(ft) == -1){
                display = false;
            }
            if(display){
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    // Sample filter set clicked / added
    $(document).on('sample-filter-clicked sample-filter-added', function(e, fs){
        create_plot();
    });

    // Field button clicked
    $('body').on('click', '.comparison_fields .btn', function(e){
        e.preventDefault();
        var is_active = $(this).hasClass('active');
        var fieldtype = $(this).data('fieldtype');
        $('.comparison_fields .btn[data-fieldtype="'+fieldtype+'"]').removeClass('active');
        if(!is_active){
            $(this).addClass('active');
            $(this).parent().parent().addClass('active');
        }
        $('.comparison_fields li.active').find('.btn.btn-outline-primary:not(.active)').removeClass('btn-outline-primary').addClass('btn-outline-light');
        $('.comparison_fields li.active').find('.btn.btn-outline-primary.active').removeClass('btn-outline-primary').addClass('btn-outline-warning');
        $('.comparison_fields li.active').not(':has(.btn.active)').removeClass('active');
        $('.comparison_fields li:not(.active) .btn.btn-outline-light, .comparison_fields li:not(.active) .btn.btn-outline-warning').addClass('btn-outline-primary').removeClass('btn-outline-light btn-outline-warning');
        // Disable the join-points checkbox if we're using z
        if($('.comparison_fields li.active button.active[data-fieldtype="z"]').length > 0){
            $('#joinmarkers').prop('disabled', true).prop('checked', false);
            $('#joinmarkers').parent().addClass('text-muted');
        } else {
            $('#joinmarkers').prop('disabled', false);
            $('#joinmarkers').parent().removeClass('text-muted');
        }
        // Disable the point size dropdown if we're using size
        if($('.comparison_fields li.active button.active[data-fieldtype="size"]').length > 0){
            $('#pointsize').prop('disabled', true);
            $('#pointsize').parent().addClass('text-muted');
        } else {
            $('#pointsize').prop('disabled', false);
            $('#pointsize').parent().removeClass('text-muted');
        }
        create_plot();
    });

    // Point size updated
    $('#pointsize').change(function(e){
        create_plot();
    });

    // Create a plot
    function create_plot(){
        // Show the loading spinners
        $('.loading-spinner').show();
        $('#plotdiv').html('<p>' +
            '<i class="loading-spinner fa fa-spinner fa-pulse fa-3x fa-fw"></i> ' +
            '<span class="loading-spinner">Loading...</span>' +
        '</p>');
        $('#save-plot-favourite').prop('disabled', true);
        // Get the active field to plot
        field_ids = {
            'x': null,
            'y': null,
            'z': null,
            'col': null,
            'size': null
        };
        field_names = {
            'x': null,
            'y': null,
            'z': null,
            'col': null,
            'size': null
        };
        $('.comparison_fields .btn.active').each(function(e){
            field_ids[$(this).data('fieldtype')] = $(this).data('fieldid');
            field_names[$(this).data('fieldtype')] = $(this).closest('li').text().trim().replace('/\s+/', ' ');
        });
        if(field_ids['x'] == null || field_ids['y'] == null){
            $('#plotdiv').html('<p class="text-secondary">Please choose fields for x and y axes</p>');
            $('.loading-spinner').hide();
            return;
        }
        // Set the 'save favourite plot' modal description field
        $('#plot_favourite_description').val('Comparison plot: `'+Object.values(field_names).filter(function(v){ return v !== null; }).join('`, `')+'`');
        // Cancel any running update_filters ajax call
        if(window.ajax_update !== false){
            window.ajax_update.abort();
        }
        // Get the plot HTML
        window.ajax_update = $.ajax({
            url: '/api/get_comparison_plot',
            type: 'post',
            data: JSON.stringify( {
                'filters_id': $('.sample-filter-btn.active').first().data('filterid'),
                'fields': field_ids,
                'field_names': field_names,
                'pointsize': $('#pointsize').val(),
                'joinmarkers': $('#joinmarkers').is(':checked')
            }),
            headers : { access_token:window.token },
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            success: function(data){
                if (data['success']){
                    $('#plotdiv').html(data['plot']);
                    $('#save-plot-favourite').prop('disabled', false);
                    $('.loading-spinner').hide();
                }
                // AJAX data['success'] was false
                else {
                    console.log(data);
                    toastr.error('There was an error whilst generating this plot.');
                    $('#plotdiv').html('<p class="text-danger mb-0">Error generating plot.</p>');
                    $('.loading-spinner').hide();
                    $('#save-plot-favourite').prop('disabled', true);
                }
            },
            error: function(data){
                toastr.error('There was an error retrieving this plot.');
                $('#plotdiv').html('<p class="text-danger mb-0">Error generating plot.</p>');
                $('.loading-spinner').hide();
                $('#save-plot-favourite').prop('disabled', true);
            }
        });
    }

    // Save a plot as a favourite
    $('#save_plot_favourite_form').submit(function(e){
        e.preventDefault();

        // Get the active field to plot
        field_ids = {
            'x': null,
            'y': null,
            'z': null,
            'col': null,
            'size': null
        };
        field_names = {
            'x': null,
            'y': null,
            'z': null,
            'col': null,
            'size': null
        };
        $('.comparison_fields .btn.active').each(function(e){
            field_ids[$(this).data('fieldtype')] = $(this).data('fieldid');
            field_names[$(this).data('fieldtype')] = $(this).closest('li').text().trim().replace('/\s+/', ' ');
        });

        // Save using a function in megaqc.js
        save_plot_favourite('comparison',{
            'filters_id': $('.sample-filter-btn.active').first().data('filterid'),
            'fields': field_ids,
            'field_names': field_names,
            'pointsize': $('#pointsize').val(),
            'joinmarkers': $('#joinmarkers').is(':checked')
        });

    });
});
</script>
{% endblock %}
