
{% extends "layout.html" %}
{% block content %}

<h1 class="mt-4 mb-4">
    Data Distributions
    <i class="loading-spinner fa fa-spinner fa-pulse fa-3x fa-fw" style="display:none;"></i>
    <span class="loading-spinner" style="display:none;">Loading...</span>
</h1>

<div class="row report-plot-setup">
    <div class="col-md-6">
        {% include "public/filter_samples_selectbox.html" %}
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header">Choose Fields to Plot</h4>
            <div class="card-body">
                <form class="mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Filter fields" id="distribution_fields_filter_input">
                        <div class="input-group-btn">
                            <button class="btn btn-outline-info" id="distribution_fields_favourite_toggle">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                Favs Only
                            </button>
                        </div>
                    </div>
                </form>
            <div class="list-group">
                {% for sf in sample_fields %}
                    <a href="#distribution_plot" class="distribution-field-btn list-group-item list-group-item-action" data-fieldid="{{ sf.key }}">
                    {{ sf.nicename }}
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card megaqc_plot" id="distribution_plot">
    <h4 class="card-header">Distributions Plot</h4>
    <div class="card-body">
        <p class="text-secondary">Please choose fields to plot</p>
    </div>
</div>

<!-- Create New Filter Set -->
{% include "public/filter_samples_modal.html" %}

{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/js/filter_samples.js"></script>
<script type="text/javascript">
$(function(){
    // A sample field to plot is chosen
    $('body').on('click', '.distribution-field-btn', function(e){
        e.preventDefault();
        $('.distribution-field-btn').removeClass('active');
        $(this).addClass('active');
        $('html, body').animate({
            scrollTop: $($(this).attr('href')).offset().top
        }, 300);
        create_plot();
    });

    // Create a plot
    function create_plot(){
        // Show the loading spinners
        $('.loading-spinner').show();
        $('#report_plot .card-body').html('<p>' +
            '<i class="loading-spinner fa fa-spinner fa-pulse fa-3x fa-fw"></i> ' +
            '<span class="loading-spinner">Loading...</span>' +
        '</p>');
        // Get the active field to plot
        field_id = $('.distribution-field-btn.active').data('fieldid');
        if(field_id == undefined){
            toastr.error('Please select a field to plot type.');
            return;
        }
        $('#distribution_plot .card-header').text($('.distribution-field-btn.active').text());
        // Cancel any running update_filters ajax call
        if(window.ajax_update !== false){
            window.ajax_update.abort();
        }
        // Get the plot HTML
        window.ajax_update = $.ajax({
            url: '/api/get_distribution_plot',
            type: 'post',
            data:JSON.stringify( {
                'filters': $('.sample-filter-btn.active').first().data('filterid'),
                'field_id': field_id
            }),
            headers : { access_token:window.token },
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            success: function(data){
                if (data['success']){
                    // Wait 300ms to ensure the page scroll has finished
                    setTimeout(function(){
                        $('#report_plot .card-body').html(data['plot']);
                        $('.loading-spinner').hide();
                    }, 300);
                }
                // AJAX data['success'] was false
                else {
                    console.log(data);
                    toastr.error('There was an error whilst generating this plot.');
                    $('#report_plot .card-body').html('<p class="text-danger mb-0">Error generating plot.</p>');
                    $('.loading-spinner').hide();
                }
            },
            error: function(data){
                toastr.error('There was an error retrieving this plot.');
                $('#report_plot .card-body').html('<p class="text-danger mb-0">Error generating plot.</p>');
                $('.loading-spinner').hide();
            }
        });
    }
});
</script>
{% endblock %}
