
{% extends "layout.html" %}
{% block content %}

<h1 class="mt-4 mb-4">
    Data Distributions
    <i class="loading-spinner fa fa-spinner fa-pulse fa-3x fa-fw" style="display:none;"></i>
    <span class="loading-spinner" style="display:none;">Loading...</span>
</h1>

<div class="row plot-setup">
    <div class="col-md-6">
        {% include "public/filter_samples_selectbox.html" %}
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header">Choose Fields to Plot</h4>
            <div class="card-body">
                <form class="mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Filter fields" id="fields_filter_input">
                        <div class="input-group-btn">
                            <!-- TODO: Add back once the back-end is written
                            <button class="btn btn-outline-info" id="fields_favourite_toggle">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                Favs Only
                            </button>
                            -->
                            <button class="btn btn-outline-success" id="fields_selected_toggle">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Selected Only
                            </button>
                            <button class="btn btn-outline-danger" id="fields_clear_selection">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Clear
                            </button>
                        </div>
                    </div>
                </form>
            <div class="list-group with-filter" id="field_listgroup">
                {% for sf in sample_fields %}
                    <a href="#distribution_plot" class="distribution-field-btn list-group-item list-group-item-action" data-fieldid="{{ sf.type_id }}">
                    {{ sf.nicename }}
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card megaqc_plot" id="distribution_plot">
    <h4 class="card-header">
        <button id="save-plot-favourite" type="button" disabled class="float-right btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#save_plot_favourite_modal">
            <i class="fa fa-heart" aria-hidden="true"></i>
            Save plot favourite
        </button>
        <span id="plot-name">Distributions Plot</span>
    </h4>
    <div class="card-body">
        <div class="plot_header_config">
            <div class="dist_plot_type">
                <select>
                    <option value="boxplot">Box Plots</option>
                    <option value="violin">Violin Plots</option>
                    <option value="dotplot">Dot Plots</option>
                    <option value="hist">Histogram</option>
                </select>
            </div>
            <div class="hist_nbins_range" style="display:none;">
                <input type="range" min="1" max="100" value="40">
                 <span>40</span> bins
            </div>
        </div>
        <div id="dist_plotdiv">
            <p class="text-secondary">Please choose fields to plot</p>
        </div>
    </div>
</div>

<!-- Create New Filter Set -->
{% include "public/filter_samples_modal.html" %}

<!-- Modal for saving a favourite plot -->
{% include "public/save_plot_favourite_modal.html" %}

{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/js/filter_samples.js"></script>
<script type="text/javascript">
window.dist_ptype = 'boxplot';
window.hist_nbins = 40;
$(function(){

    // Filter field types by typing
    $('#fields_filter_input').keyup(function(e){
        filter_field_types();
    });

    // Toggle field types - selected only
    $('#fields_favourite_toggle, #fields_selected_toggle').click(function(e){
        e.preventDefault();
        $(this).toggleClass('active');
        filter_field_types();
    });

    // Clear field selection
    $('#fields_clear_selection').click(function(e){
        $('#field_listgroup a').removeClass('active');
        filter_field_types();
        create_plot();
    });

    // Function to filter the list of available plot types
    function filter_field_types(){
        var favs_only = $('#fields_favourite_toggle').hasClass('active');
        var selected_only = $('#fields_selected_toggle').hasClass('active');
        $('#field_listgroup a').each(function(e){
            var display = true;
            if(favs_only && $(this).find('.report-plot-type-save-fav').hasClass('fa-heart-o')){
                display = false;
            }
            if(selected_only && !$(this).hasClass('active')){
                display = false;
            }
            var ft = $('#fields_filter_input').val().trim().toLowerCase();
            var pt_name = $(this).text().trim().toLowerCase();
            if(ft.length > 0 && pt_name.indexOf(ft) == -1){
                display = false;
            }
            if(display){
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }


    // Sample filter set clicked / added
    $(document).on('sample-filter-clicked sample-filter-added', function(e, fs){
        create_plot();
    });

    // A sample field to plot is chosen
    $('body').on('click', '.distribution-field-btn', function(e){
        e.preventDefault();
        $(this).toggleClass('active');
        create_plot();
    });

    // Change number of histogram bins
    $('body').on('change', '.dist_plot_type select', function(e){
        window.dist_ptype = $(this).val();
        // show or hide the histogram bins slider
        if($(this).val() == 'hist'){ $('.hist_nbins_range').show(); }
        else { $('.hist_nbins_range').hide(); }
        // generate the plot
        create_plot();
    });

    // Change number of histogram bins
    $('body').on('mousemove', '.hist_nbins_range input', function(e){
        $('.hist_nbins_range span').text($(this).val());
    });
    $('body').on('change', '.hist_nbins_range input', function(e){
        $('.hist_nbins_range span').text($(this).val());
        window.hist_nbins = $(this).val();
        create_plot();
    });

    // Create a plot
    function create_plot(){
        // Show the loading spinners
        $('.loading-spinner').show();
        $('#dist_plotdiv').html('<p>' +
            '<i class="loading-spinner fa fa-spinner fa-pulse fa-3x fa-fw"></i> ' +
            '<span class="loading-spinner">Loading...</span>' +
        '</p>');
        $('#save-plot-favourite').prop('disabled', true);
        // Get the active field to plot
        field_ids = [];
        field_titles = [];
        $('.distribution-field-btn.active').each(function(e){
            field_ids.push($(this).data('fieldid'));
            field_titles.push($(this).text().trim());
        });
        if(field_ids.length == 0){
            $('#plot-name').text('Distributions Plot');
            $('#dist_plotdiv').html('<p class="text-secondary">Please choose fields to plot</p>');
            $('#save-plot-favourite').prop('disabled', true);
            $('.loading-spinner').hide();
            return;
        }
        plot_header = field_titles.length + ' Fields';
        if(field_titles.length < 3){
            plot_header = field_titles.join(', ');
        }
        $('#plot-name').text(plot_header);
        // Cancel any running update_filters ajax call
        if(window.ajax_update !== false){
            window.ajax_update.abort();
        }
        // Get the plot HTML
        window.ajax_update = $.ajax({
            url: '/api/get_distribution_plot',
            type: 'post',
            data: JSON.stringify( {
                'filters_id': $('.sample-filter-btn.active').first().data('filterid'),
                'fields': field_ids,
                'nbins': window.hist_nbins,
                'ptype': window.dist_ptype
            }),
            headers : { access_token:window.token },
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            success: function(data){
                if (data['success']){
                    // Wait 300ms to ensure the page scroll has finished
                    setTimeout(function(){
                        $('#dist_plotdiv').html(data['plot']);
                        $('.loading-spinner').hide();
                        $('#save-plot-favourite').prop('disabled', false);
                    }, 300);
                }
                // AJAX data['success'] was false
                else {
                    console.log(data);
                    toastr.error('There was an error whilst generating this plot.');
                    $('#dist_plotdiv').html('<p class="text-danger mb-0">Error generating plot.</p>');
                    $('#save-plot-favourite').prop('disabled', true);
                    $('.loading-spinner').hide();
                }
            },
            error: function(data){
                toastr.error('There was an error retrieving this plot.');
                $('#dist_plotdiv').html('<p class="text-danger mb-0">Error generating plot.</p>');
                $('#save-plot-favourite').prop('disabled', true);
                $('.loading-spinner').hide();
            }
        });
    }

    // Pre-fill the save-plot description
    $('#save_plot_favourite_modal').on('show.bs.modal', function (e) {
        // Get the plot fields
        var field_names = [];
        $('.distribution-field-btn.active').each(function(e){
            field_names.push($(this).text().trim().replace(/\s+/g, ' '));
        });
        // Plot type nice name
        var ptype = $('.dist_plot_type select option[value='+window.dist_ptype+']').text().replace(/s$/, '').toLowerCase();
        // Fill the description box
        $('#plot_favourite_description').val('Distribution '+ptype+': `'+field_names.join('`, `')+'`');
    });

    // Save a plot as a favourite
    $('#save_plot_favourite_form').submit(function(e){
        e.preventDefault();

        // Get the plot fields
        field_ids = [];
        $('.distribution-field-btn.active').each(function(e){
            field_ids.push($(this).data('fieldid'));
        });

        // Save using a function in megaqc.js
        save_plot_favourite('distribution',{
            'filters_id': $('.sample-filter-btn.active').first().data('filterid'),
            'fields': field_ids,
            'nbins': window.hist_nbins,
            'ptype': window.dist_ptype
        });

    });
});
</script>
{% endblock %}
