
{% extends "layout.html" %}
{% block content %}

<div class="jumbotron" id="megaqc-homepage-jumbotron">
  <div class="row align-items-center">
    <div class="col-sm-6 col-xl-4">
      <h1><img id="megaqc-homepage-title-img" src="{{ url_for('static', filename='img/MegaQC_logo.svg') }}" title="MegaQC"></h1>
    </div>
    <div class="col-xl-4 d-none d-xl-block">
      <p class="lead">MegaQC is a web application that collects results from multiple runs of MultiQC and allows bulk visualisation.</p>
      <p>See the MultiQC website for installation instructions and documentation: <a href="http://multiqc.info/megaqc/" target="_blank">http://multiqc.info/megaqc/</a></p>
    </div>
    <div class="col-sm-6 col-xl-4 megaqc-header-samplecount">
      Data available from<br>
      {{ num_samples }} samples, {{ num_reports }} reports<br>
      {% if num_uploads_processing %}
        <a href="{{ url_for('public.queued_uploads') }}">
            {{ num_uploads_processing }} upload{% if num_uploads_processing > 1 %}s{% endif %} processing
        </a>
      {% endif %}
    </div>
  </div>
  <div class="d-xl-none">
    <p class="lead">MegaQC is a web application that collects results from multiple runs of MultiQC and allows bulk visualisation.</p>
    <p>See the MegaQC GitHub repository for installation instructions and documentation: <a href="https://github.com/ewels/MegaQC" target="_blank">https://github.com/ewels/MegaQC</a></p>
  </div>
</div>

<h2>Choose a plot type</h2>

<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="card plot-chooser-card">
      <a href="{{ url_for('public.report_plot') }}">
        <div class="card-body text-center">
          <h4>Report Plot</h4>
          <img src="{{ url_for('static', filename='img/report_plot_thumb.svg') }}" width="300" height="200"><br>
          <small>Replicate a plot from a submitted MultiQC report, using all samples in the database.</small>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card plot-chooser-card">
      <a href="{{ url_for('public.distributions') }}">
        <div class="card-body text-center">
          <h4>Data Distributions</h4>
          <img style="margin: 30px 0" src="{{ url_for('static', filename='img/distributions.png') }}"><br>
          <small>View histograms and box plots of values from MultiQC reports as a histogram.</small>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card plot-chooser-card">
      <a href="{{ url_for('public.trends') }}">
        <div class="card-body text-center">
          <h4>Data Trend</h4>
          <img style="margin: 30px 0" src="{{ url_for('static', filename='img/trends.png') }}"><br>
          <small>See how values from MultiQC reports change over time to find trends.</small>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card plot-chooser-card">
      <a href="{{ url_for('public.comparisons') }}">
        <div class="card-body text-center">
          <h4>Compare Data</h4>
          <img style="margin: 30px 0" src="{{ url_for('static', filename='img/comparisons.png') }}"><br>
          <small>Compare values from MultiQC reports against each other to look for correlations.</small>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock %}
