
{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">

  <h1 class="mt-0 mb-3">
    <img src="{{ url_for('static', filename='img/MegaQC_logo.png') }}" title="MegaQC">
  </h1>
  <p class="lead">MegaQC is a web application that collects results from multiple runs of MultiQC and allows bulk visualisation.</p>
  <p>See the MultiQC website for installation instructions and documentation: <a href="http://multiqc.info/megaqc/" target="_blank">http://multiqc.info/megaqc/</a></p>

</div>

<div class="row">
  <div class="col">
    <h2><i class="fa fa-bar-chart"></i> New MultiQC Plot</h2>
    <p>Click here to create a new plot that replicates a plot within a MultiQC report.</p>
    <p><a class="btn btn-primary" href="{{ url_for('public.new_plot') }}">Create &raquo;</a></p>
  </div>
  <div class="col">
    <h2><i class="fa fa-area-chart"></i> Plot Metric</h2>
    <p>Scrutinise statistics from MultiQC (histograms, over-time and comparisons)</p>
    <p><a href="#" class="btn btn-primary disabled">Coming soon &raquo;</a></p>
 </div>
  <div class="col">
    <h2><i class="fa fa-edit"></i> Buttons</h2>
    <p>MegaQC makes heavy use of buttons. And other interactive parts of The Internet.</p>
    <p><a href="#" class="btn btn-primary">Learn more &raquo;</a></p>
  </div>
</div>

{% endblock %}

