{% extends "layout.html" %}
{% block content %}

  <h1>Log In</h1>
  <form id="loginForm" class="form form-horizontal" method="POST" action="" role="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-group row">
      {{ form.username.label(class_="col-sm-2 control-label") }}
      <div class="col-sm-5">
        {{ form.username(placeholder="Username", class_="form-control mr-sm-2") }}
      </div>
    </div>
    <div class="form-group row">
      {{ form.password.label(class_="col-sm-2 control-label") }}
      <div class="col-sm-5">
        {{ form.password(placeholder="Password", class_="form-control mr-sm-2") }}
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button class="btn btn-primary" type="submit">Log in</button>
      </div>
    </div>
  </form>
  <blockquote><strong>Not registered?</strong> Click <a href="{{ url_for('public.register') }}">here</a> to create an account.</blockquote>

{% endblock %}