
{% extends "layout.html" %}
{% block content %}

<h1>Choose a plot type</h1>

<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="card plot-chooser-card">
      <a href="{{ url_for('public.report_plot') }}">
        <div class="card-body text-center">
          <h4>Report Plot</h4>
          <img src="{{ url_for('static', filename='img/report_plot_thumb.svg') }}" width="300" height="200"><br>
          <small>Replicate a plot from a submitted MultiQC report, using all samples in the database.</small>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card plot-chooser-card">
      <a href="{{ url_for('public.distributions') }}">
        <div class="card-body text-center">
          <h4>Data Distributions</h4>
          <img style="margin: 30px 0" src="{{ url_for('static', filename='img/distributions.png') }}"><br>
          <small>View histograms and box plots of values from MultiQC reports as a histogram.</small>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card plot-chooser-card">
      <a href="{{ url_for('public.trends') }}">
        <div class="card-body text-center">
          <h4>Data Trend</h4>
          <img style="margin: 30px 0" src="{{ url_for('static', filename='img/trends.png') }}"><br>
          <small>See how values from MultiQC reports change over time to find trends.</small>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card plot-chooser-card">
      <a href="{{ url_for('public.comparisons') }}">
        <div class="card-body text-center">
          <h4>Compare Data</h4>
          <img style="margin: 30px 0" src="{{ url_for('static', filename='img/comparisons.png') }}"><br>
          <small>Compare values from MultiQC reports against each other to look for correlations.</small>
        </div>
      </a>
    </div>
  </div>
</div>


{% endblock %}
