
{% extends "plot_walkthrough.html" %}
{% set plotTypeName = 'Report Plot' %}
{% set plotTypeSelectSamples = 'public.report_plot_select_samples' %}
{% set plotTypePlot = 'public.report_plot' %}
{% set selectSamplesSmall = '{} samples'.format(filtered_num_samples) %}
{% block selectSamples %}

<div class="card new-filter">
    <div class="card-body">

        <div id="activeFilters">
            <div class="pull-right activeFiltersActions">
                With checked:
                <button class="btn btn-sm btn-outline-info" id="sampleFiltersFavouriteBtn"><i class="fa fa-heart" aria-hidden="true"></i> Favourite</button>
                <button class="btn btn-sm btn-outline-danger" id="sampleFiltersDeleteBtn"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
            </div>
            <h5 class="mt-0">Active Filters</h5>
            <div id="noActiveFiltersAlert" class="alert alert-info">No active filters</div>
            <table id="activeFiltersTable" class="table table-hover" style="display: none;">
                <thead>
                    <tr>
                        <th style="width:20px;"><input type="checkbox" id="filtersCheckAll"></th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div id="filter-type">
            <h5>Add Filter</h5>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn-light btn-block btn-filter-type filterShowHide" data-hide="#filter-type" data-show="#filter-dateRange">
                        Date range<br>
                        <small><em>e.g.</em> Last six months</small>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn-light btn-block btn-filter-type filterShowHide" data-hide="#filter-type" data-show="#filter-reportMeta">
                        Report metadata<br>
                        <small><em>e.g.</em> Submitted by <code>{{current_user.username}}</code></small>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn-light btn-block btn-filter-type filterShowHide" data-hide="#filter-type" data-show="#filter-sampleMeta">
                        Sample metadata<br>
                        <small><em>e.g.</em> Sample names <code>*_xyz</code></small>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn-light btn-block btn-filter-type filterShowHide" data-hide="#filter-type" data-show="#filter-sampleData">
                        Sample data query<br>
                        <small><em>e.g.</em> Where <code>%&nbsp;aligned &le;&nbsp;50%</code></small>
                    </button>
                </div>
                <div class="col">
                    <button type="button" class="btn-light btn-block btn-filter-type filterShowHide" data-hide="#filter-type" data-show="#filter-favouriteFilters">
                        Favourite filters<br>
                        <small>Apply your favourite filters</small>
                    </button>
                </div>
            </div>
        </div>
        <div id="filter-dateRange" class="filter-filterTypeBox">
            <h5>Add Date Filter</h5>
            <p class="small"><a href="#" class="filterShowHide" data-show="#filter-type" data-hide=".filter-filterTypeBox">&laquo; Back to filter types</a></p>
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <div class="card">
                        <div class="card-header">Dynamic date ranges</div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="filterDatePresetType" class="col-sm-4 col-form-label">Filter type</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="filterDatePresetType">
                                        <option value="le">Within dates</option>
                                        <option value="gt">Except dates</option>
                                    </select>
                                </div>
                            </div>
                            <div class="list-group filterDatePreset">
                                <button type="button" class="list-group-item list-group-item-action" value="7">Last 7 days</button>
                                <button type="button" class="list-group-item list-group-item-action" value="30">Last 30 days</button>
                                <button type="button" class="list-group-item list-group-item-action" value="183">Last 6 months</button>
                                <button type="button" class="list-group-item list-group-item-action" value="365">Last 12 months</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <div class="card">
                        <div class="card-header">Specific dates</div>
                        <div class="card-body">
                            <form>
                                <div class="form-group row">
                                    <label for="filterDateType" class="col-sm-4 col-form-label">Filter type</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" id="filterDateType">
                                            <option value="in">Within dates</option>
                                            <option value="not in">Except dates</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="filterDateTo" class="col-sm-4 col-form-label">End date</label>
                                    <div class="col-sm-8">
                                        <input type="date" class="form-control" id="filterDateTo" placeholder="yyyy-mm-dd">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="filterDateFrom" class="col-sm-4 col-form-label">Start date</label>
                                    <div class="col-sm-8">
                                        <input type="date" class="form-control" id="filterDateFrom" placeholder="yyyy-mm-dd">
                                    </div>
                                </div>
                                <button id="filterDateAddBtn" type="submit" class="btn btn-outline-primary">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Add filter
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="filter-reportMeta" class="filter-filterTypeBox">
            <h5>Add Report Metadata Filter</h5>
            <p class="small"><a href="#" class="filterShowHide" data-show="#filter-type" data-hide=".filter-filterTypeBox">&laquo; Back to filter types</a></p>
            <div class="col-sm-6 col-md-5 col-lg-4">
                <form>
                    <div class="form-group row">
                        <label for="reportMeta_field" class="col-sm-4 col-form-label">Field</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="reportMeta_key">
                                <option value="">[ select field ]</option>
                                {% for field in report_md %}
                                <option value="{{ field }}">{{ report_md[field].nicename }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="reportMeta_cmp" class="col-sm-4 col-form-label">Comparison</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="reportMeta_cmp">
                                <option value="in">Contains string</option>
                                <option value="eq">(=) Equal to</option>
                                <option value="ne">(!=) Not equal to</option>
                                <option value="le">(&le;) Less than or equal to</option>
                                <option value="lt">(&lt;) Less than</option>
                                <option value="ge">(&ge;) Greater than or equal to</option>
                                <option value="gt">(&gt;) Greater than</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="reportMeta_value" class="col-sm-4 col-form-label">Value</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="reportMeta_value" placeholder="Enter value here">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="filter-sampleMeta" class="filter-filterTypeBox">
            <h5>Add Sample Metadata Filter</h5>
            <p class="small"><a href="#" class="filterShowHide" data-show="#filter-type" data-hide=".filter-filterTypeBox">&laquo; Back to filter types</a></p>
            This is the sample metadata filter
        </div>
        <div id="filter-sampleData" class="filter-filterTypeBox">
            <h5>Add Sample Data Filter</h5>
            <p class="small"><a href="#" class="filterShowHide" data-show="#filter-type" data-hide=".filter-filterTypeBox">&laquo; Back to filter types</a></p>
            This is the sample data filter
        </div>
        <div id="filter-favouriteFilters" class="filter-filterTypeBox">
            <h5>Add Favourite Filters</h5>
            <p class="small"><a href="#" class="filterShowHide" data-show="#filter-type" data-hide=".filter-filterTypeBox">&laquo; Back to filter types</a></p>
            <span class="filter-favourites">
                <div class="alert alert-secondary">
                    You don't have any favourite filters saved yet. To save a set of filters as a favourite, add them then tick their checkboxes and finally click the <em>Favourite</em> button.
                </div>
                <p>Click a favourite to add those filters:</p>
                <div class="list-group filterDatePreset">
                    <button type="button" class="list-group-item list-group-item-action" >[placeholder] Date: From 2015-01-01 until 2016-01-01</button>
                    <button type="button" class="list-group-item list-group-item-action" >[placeholder] Our group's development projects</button>
                </div>
            </span>
        </div>
    </div>
</div>
<p class="text-center"><a href="{{ url_for(plotTypePlot) }}" class="mt-3 btn btn-outline-primary btn-lg plot-link" style="width:150px;">Make Plot</a></p>

{% endblock %}
{% block js %}
<script type="text/javascript">
window.token = "{{user_token}}";
window.active_filters = {};
$(function(){

    // Check / uncheck all active filters
    $('#filtersCheckAll').change(function(e){
        if($(this).is(':checked')){
            $('.filterCheckbox').prop('checked', true);
        } else {
            $('.filterCheckbox').prop('checked', false);
        }
    });

    // Delete checked filters
    $('#sampleFiltersDeleteBtn').click(function(e){
        var checked_rows = $('#activeFiltersTable tbody tr').filter(':has(.filterCheckbox:checked)');
        if(checked_rows.length > 0){
            checked_rows.each(function(){
                delete window.active_filters[ $(this).attr('id') ];
                $(this).remove();
            });
            init_filters_table();
        }
    });

    // Save favourite filters
    $('#sampleFiltersFavouriteBtn').click(function(e){
        var checked_rows = $('#activeFiltersTable tbody tr').filter(':has(.filterCheckbox:checked)');
        var save_filters = [];
        if(checked_rows.length > 0){
            checked_rows.each(function(){
                save_filters.push($(this).text());
            });
            if(confirm("Are you sure that you want to add "+save_filters.length+" filters to your favourites?")){
                alert("Sorry, not yet implemented. Try again soon!");
            }
        }
    });

    // Change panel in the add filter dialogue
    $('.filterShowHide').click(function(e){
        e.preventDefault();
        $('body').css('min-height', $('body').height() );
        $( $(this).data('hide') ).slideUp();
        $( $(this).data('show') ).slideDown();
    });

    // Add date delta preset
    $('.filterDatePreset button').click(function(e){
        e.preventDefault();
        var filter_id = 'filter_'+Math.random().toString(36).substring(2);
        window.active_filters[filter_id] = {
            'type': 'timedelta',
            'key': 'timedelta',
            'value': parseInt($(this).val()),
            'cmp': $('#filterDatePresetType').val()
        };
        var trow = '<tr id="'+filter_id+'">' +
            '<td><input type="checkbox" class="filterCheckbox"></td>' +
            '<td>Date delta</td>' +
            '<td>'+$('#filterDatePresetType option:selected').text().replace(' dates','') + ' ' + $(this).text().toLowerCase()+'</td>' +
        '</tr>';
        $(trow).appendTo('#activeFiltersTable tbody').hide().slideDown();
        $('.filter-filterTypeBox').slideUp();
        $('#filter-type').slideDown();
        init_filters_table();
    });

    // Add specific date range
    $('#filterDateAddBtn').click(function(e){
        e.preventDefault();
        $('#filterDateFrom, #filterDateTo').removeClass('is-invalid');
        // Check that dates have been entered
        if($('#filterDateTo').val() == ''){
            toastr.error("You must enter a value for filterDateTo");
            $('#filterDateTo').addClass('is-invalid');
        }
        if($('#filterDateFrom').val() == ''){
            toastr.error("You must enter a value for filterDateFrom");
            $('#filterDateFrom').addClass('is-invalid');
        }
        if($('#filterDateTo').val() == '' || $('#filterDateFrom').val() == ''){
            return false;
        }
        var filter_id = 'filter_'+Math.random().toString(36).substring(2);
        window.active_filters[filter_id] = {
            'type': 'daterange',
            'key': 'daterange',
            'value': [$('#filterDateFrom').val(), $('#filterDateTo').val()],
            'cmp': $('#filterDateType').val()
        };
        var trow = '<tr id="'+filter_id+'">' +
            '<td><input type="checkbox" class="filterCheckbox"></td>' +
            '<td>Date range</td>' +
            '<td>' + $('#filterDateType option:selected').text().replace(' dates','') + ' '+$('#filterDateFrom').val()+' &raquo; '+$('#filterDateTo').val()+'</td>' +
        '</tr>';
        $(trow).appendTo('#activeFiltersTable tbody').hide().slideDown();
        $('.filter-filterTypeBox').slideUp();
        $('#filter-type').slideDown();
        $('#filterDateFrom, #filterDateTo').val('');
        init_filters_table();
    });
});

function init_filters_table(){
    if( $('#activeFiltersTable tbody tr').length == 0 ){
        $('#noActiveFiltersAlert').slideDown();
        $('#activeFiltersTable').slideUp();
    } else {
        $('#noActiveFiltersAlert').slideUp();
        $('#activeFiltersTable').slideDown();
    }
    get_sample_count();
}

function get_sample_count(){
    // Build the filter JSON
    var filters = {'filters': []}
    $.each(window.active_filters, function(k, d){
        filters.filters.push(d);
    });
    // Count how many samples match the filters
    $.ajax({
        url: '/api/count_samples',
        type: 'post',
        data:JSON.stringify( filters ),
        headers : { access_token:window.token },
        dataType: 'json',
        contentType: 'application/json; charset=UTF-8',
        success: function(data){
            if (data['success']){
                $('#selectSamplesSmall').text('[ '+data['count']+' samples ]');
            } else {
                $('#selectSamplesSmall').text('???');
            }
        },
        error: function(data){
            toastr.error('There was an error applying the sample filters.')
        }
    });
    // Refresh the "plot" URL
    //  would be nicer to use $.param(filters) but a little tricky to get flask to decode this
    $('.plot-link').attr('href', '{{ url_for(plotTypePlot) }}?' + encodeURIComponent(JSON.stringify(filters)));
}

</script>
{% endblock %}
