
{% extends "layout.html" %}
{% block content %}

<h1 class="mt-4 mb-4">
    MultiQC Report Plot
    <i class="loading-spinner fa fa-spinner fa-pulse fa-3x fa-fw" style="display:none;"></i>
    <span class="loading-spinner" style="display:none;">Loading...</span>
</h1>

<div class="row plot-setup">
    <div class="col-md-6">
        {% include "public/filter_samples_selectbox.html" %}
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header">Choose Plot Type</h4>
            <div class="card-body">
                <form class="mb-3">
                     <div class="input-group">
                        <input type="text" class="form-control" placeholder="Filter plots" id="plot_type_filter_input">
                        <div class="input-group-btn">
                            <button class="btn btn-outline-info" id="plot_type_favourite_toggle">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                Favs Only
                            </button>
                        </div>
                    </div>
                </form>
                <div class="list-group with-filter" id="report-plot-type-list-group">
                    {% for pt in report_plot_types %}
                    <a href="#report_plot" class="report-plot-type-btn list-group-item list-group-item-action" data-plotid="{{ pt.name }}">
                        {{ pt.nicename }}
                        <i class="fa fa-heart{% if not pt.favourite %}-o{% endif %} float-right report-plot-type-save-fav" aria-hidden="true"></i>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card megaqc_plot" id="report_plot">
    <h4 class="card-header">
        <button id="save-plot-favourite" type="button" disabled class="float-right btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#save_plot_favourite_modal">
            <i class="fa fa-heart" aria-hidden="true"></i>
            Save plot favourite
        </button>
        <span id="plot-name">Report Plot</span>
    </h4>
    <div class="card-body">
        <p class="text-secondary">Please choose a plot type</p>
    </div>
</div>

<!-- Create New Filter Set -->
{% include "public/filter_samples_modal.html" %}

<!-- Modal for saving a favourite plot -->
{% include "public/save_plot_favourite_modal.html" %}

{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/js/filter_samples.js"></script>
<script type="text/javascript">
$(function(){

//////// TODO
// - Popover info box for filter sets showing what the filters are...?

    // Function to update the active filter set
    $(document).on('sample-filter-clicked sample-filter-added', function(e, fs){
        // Update the number of samples and available plot types
        $('.loading-spinner').show();
        var filter_id = $('.sample-filter-btn.active').first().data('filterid');
        $.ajax({
            url: '/api/report_filter_fields',
            type: 'post',
            data:JSON.stringify( { "filters_id": filter_id }),
            headers : { access_token:window.token },
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            success: function(data){
                if (data['success']){
                    $('#report_plot .card-body').html(data['plot']);
                    // Update the number of samples badge
                    $('.num_filtered_samples').text(data['num_samples']+' samples');
                    $('.num_filtered_samples').removeClass('badge-danger badge-success badge-warning');
                    if(parseInt(data['num_samples']) == 0){
                        $('.num_filtered_samples').addClass('badge-danger');
                    } else if(parseInt(data['num_samples']) > 100){
                        $('.num_filtered_samples').addClass('badge-warning');
                    } else {
                        $('.num_filtered_samples').addClass('badge-success');
                    }
                    // Update the list of available plots
                    $('#report-plot-type-list-group').html('');
                    $.each(data['report_plot_types'], function(idx, pt){
                        if(pt['favourite']){
                            fc = '';
                        } else {
                            fc = '-o';
                        }
                        $('#report-plot-type-list-group').append(
                            '<a href="#report_plot" class="report-plot-type-btn list-group-item list-group-item-action" data-plotid="'+pt['name']+'">' +
                                pt['nicename'] + '<i class="fa fa-heart'+fc+' float-right report-plot-type-save-fav" aria-hidden="true"></i>' +
                            '</a>');
                    });
                    // If a plot is visible, regenerate it
                    if($('#report_plot .card-body .plotly-graph-div').length > 0){
                      create_plot();
                    }
                    // Hide the loading spinner
                    $('.loading-spinner').hide();
                }
                // AJAX data['success'] was false
                else {
                    console.log(data);
                    toastr.error('There was an error fetching plot type for these fitlers: '+data['message']);
                    $('.num_filtered_samples').text('Error applying filters').removeClass('badge-success badge-warning').addClass('badge-danger');
                    $('.loading-spinner').hide();
                }
            },
            error: function(data){
                toastr.error('There was an error retrieving this plot.');
                $('.num_filtered_samples').text('Error applying filters').removeClass('badge-success badge-warning').addClass('badge-danger');
                $('.loading-spinner').hide();
            }
        });
    });

    // Filter plot types by typing
    $('#plot_type_filter_input').keyup(function(e){
        filter_report_plot_types();
    });

    // Toggle plot favourite types
    $('#plot_type_favourite_toggle').click(function(e){
        e.preventDefault();
        $(this).toggleClass('active');
        filter_report_plot_types();
    });

    // Function to filter the list of available plot types
    function filter_report_plot_types(){
        var favs_only = $('#plot_type_favourite_toggle').hasClass('active');
        $('#report-plot-type-list-group a').each(function(e){
            var display = true;
            if(favs_only && $(this).find('.report-plot-type-save-fav').hasClass('fa-heart-o')){
                display = false;
            }
            var ft = $('#plot_type_filter_input').val().trim().toLowerCase();
            var pt_name = $(this).text().trim().toLowerCase();
            if(ft.length > 0 && pt_name.indexOf(ft) == -1){
                display = false;
            }
            if(display){
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    // Save plot type as a favourite
    $('body').on('click', '.report-plot-type-btn .report-plot-type-save-fav', function(e){
        e.preventDefault();
        e.stopPropagation();
        var pdata = {'plot_id': $(this).parent().data('plotid')}
        if($(this).hasClass('fa-heart-o')){
            $(this).removeClass('fa-heart-o').addClass('fa-heart');
            pdata['method'] = 'save';
        } else {
            $(this).removeClass('fa-heart').addClass('fa-heart-o');
            pdata['method'] = 'delete';
        }
        $('.loading-spinner').show();
        $.ajax({
            url: '/api/update_favourite_plot',
            type: 'post',
            data:JSON.stringify(pdata),
            headers : { access_token:window.token },
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            success: function(data){
                if (data['success']){
                    toastr.success('Saved');
                    $('.loading-spinner').hide();
                    filter_report_plot_types();
                }
                // AJAX data['success'] was false
                else {
                    console.log(data);
                    toastr.error('There was an error saving this plot type favourite:<br><em>'+data['message']+'</em>');
                    $('.loading-spinner').hide();
                }
            },
            error: function(data){
                toastr.error('There was an error saving this plot type favourite.');
                $('.loading-spinner').hide();
            }
        });
    });

    // A plot type is chosen
    $('body').on('click', '.report-plot-type-btn', function(e){
        e.preventDefault();
        $('.report-plot-type-btn').removeClass('active');
        $(this).addClass('active');
        $('html, body').animate({
            scrollTop: $($(this).attr('href')).offset().top
        }, 300);
        create_plot();
    });

    // Create a plot
    function create_plot(){
        // Show the loading spinners
        $('.loading-spinner').show();
        $('#report_plot .card-body').html('<p>' +
            '<i class="loading-spinner fa fa-spinner fa-pulse fa-3x fa-fw"></i> ' +
            '<span class="loading-spinner">Loading...</span>' +
        '</p>');
        $('#save-plot-favourite').prop('disabled', true);
        // Get the active plot type
        plot_type = $('.report-plot-type-btn.active').data('plotid');
        if(plot_type == undefined){
            toastr.error('Please select a plot type.');
            return;
        }
        $('#plot-name').text($('.report-plot-type-btn.active').text());
        // Cancel any running update_filters ajax call
        if(window.ajax_update !== false){
            window.ajax_update.abort();
        }
        // Get the plot HTML
        window.ajax_update = $.ajax({
            url: '/api/get_report_plot',
            type: 'post',
            data:JSON.stringify( {
                'filters_id': $('.sample-filter-btn.active').first().data('filterid'),
                'plot_type': plot_type
            }),
            headers : { access_token:window.token },
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            success: function(data){
                if (data['success']){
                    // Wait 300ms to ensure the page scroll has finished
                    setTimeout(function(){
                        $('#report_plot .card-body').html(data['plot']);
                        $('.loading-spinner').hide();
                        $('#save-plot-favourite').prop('disabled', false);
                        $('#plot_favourite_description').val($('.report-plot-type-btn.active').text().trim().replace(/\s+/g, ' '));
                    }, 300);
                }
                // AJAX data['success'] was false
                else {
                    console.log(data);
                    toastr.error('There was an error whilst generating this plot.');
                    $('#report_plot .card-body').html('<p class="text-danger mb-0">Error generating plot.</p>');
                    $('.loading-spinner').hide();
                    $('#save-plot-favourite').prop('disabled', true);
                }
            },
            error: function(data){
                toastr.error('There was an error retrieving this plot.');
                $('#report_plot .card-body').html('<p class="text-danger mb-0">Error generating plot.</p>');
                $('.loading-spinner').hide();
                $('#save-plot-favourite').prop('disabled', true);
            }
        });
    }

    // Save a plot as a favourite
    $('#save_plot_favourite_form').submit(function(e){
        e.preventDefault();

        // Save using a function in megaqc.js
        save_plot_favourite('report_plot',{
            'filters_id': $('.sample-filter-btn.active').first().data('filterid'),
            'plot_type': $('.report-plot-type-btn.active').data('plotid')
        });
    });
});
</script>
{% endblock %}
