
{% extends "plot_walkthrough.html" %}
{% set plotTypeName = 'Report Plot' %}
{% set plotType = 'public.report_plot_select_samples' %}
{% set selectSamplesSmall = '??? samples' %}
{% block selectSamples %}

<div class="card new-filter">
    <div class="card-body">

        <div id="activeFilters">
            <div class="pull-right">
                With checked:
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn btn-sm btn-outline-info"><i class="fa fa-heart" aria-hidden="true"></i> Favourite</button>
                    <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                </div>
            </div>
            <h5 class="mt-0">Active Filters</h5>
            <div id="noActiveFiltersAlert" class="alert alert-info">No active filters</div>
            <table id="activeFiltersTable" class="table" style="display: none;">
                <thead>
                    <tr>
                        <th style="width:20px;"><input type="checkbox"></th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div id="filter-addFilter">
            <button type="button" class="btn btn-outline-primary filterShowHide" data-hide="#filter-addFilter" data-show="#filter-type">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add new filter
            </button>
        </div>
        <div id="filter-type">
            <p class="small">
                <a href="#" class="filterShowHide" data-show="#filter-addFilter" data-hide="#filter-type">&laquo; Back</a>
                <span class="filter-favourites">
                    Favourites:
                    <a href="#">Last six months</a> <span class="sep">|</span>
                    <a href="#">Development Projects</a>
                </span>
            </p>
            <div class="row">
                <div class="col-sm-3">
                    <button type="button" class="btn-light btn-block btn-filter-type filterShowHide" data-hide="#filter-type" data-show="#filter-dateRange">
                        Date range<br>
                        <small><em>e.g.</em> Samples from the last six months</small>
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn-light btn-block btn-filter-type filterShowHide" data-hide="#filter-type" data-show="#filter-reportMeta">
                        Report metadata<br>
                        <small><em>e.g.</em> Reports submitted by user <code>{{current_user.username}}</code></small>
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn-light btn-block btn-filter-type filterShowHide" data-hide="#filter-type" data-show="#filter-sampleMeta">
                        Sample metadata<br>
                        <small><em>e.g.</em> Sample names matching pattern <code>*_xyz</code></small>
                    </button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn-light btn-block btn-filter-type filterShowHide" data-hide="#filter-type" data-show="#filter-sampleData">
                        Sample data query<br>
                        <small><em>e.g.</em> Samples with <code>%&nbsp;aligned</code>&nbsp;<code>&le;&nbsp;50%</code></small>
                    </button>
                </div>
            </div>
        </div>
        <div id="filter-dateRange" class="filter-filterTypeBox">
            <p class="small"><a href="#" class="filterShowHide" data-show="#filter-type" data-hide=".filter-filterTypeBox">&laquo; Back to filter types</a></p>
            <h5>Filter by report submission date</h5>
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <form>
                        <div class="form-group row">
                            <label for="filterDateTo" class="col-sm-4 col-form-label">End date</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" id="filterDateTo" placeholder="yyyy-mm-dd" value="{{ dstamps['now'] }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="filterDateFrom" class="col-sm-4 col-form-label">Start date</label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control" id="filterDateFrom" placeholder="yyyy-mm-dd" value="{{ dstamps['7days'] }}">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <div class="list-group filterDatePreset">
                        <a href="#" class="list-group-item list-group-item-action" data-datefrom="{{ dstamps['7days'] }}">Last 7 days</a>
                        <a href="#" class="list-group-item list-group-item-action" data-datefrom="{{ dstamps['30days'] }}">Last 30 days</a>
                        <a href="#" class="list-group-item list-group-item-action" data-datefrom="{{ dstamps['6months'] }}">Last 6 months</a>
                        <a href="#" class="list-group-item list-group-item-action" data-datefrom="{{ dstamps['12months'] }}">Last 12 months</a>
                    </div>
                </div>
            </div>
            <p><button id="filterDateAddBtn" type="button" class="btn btn-outline-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add filter
            </button></p>
        </div>
        <div id="filter-reportMeta" class="filter-filterTypeBox">
            <p class="small"><a href="#" class="filterShowHide" data-show="#filter-type" data-hide=".filter-filterTypeBox">&laquo; Back to filter types</a></p>
            This is the report metadata filter
        </div>
        <div id="filter-sampleMeta" class="filter-filterTypeBox">
            <p class="small"><a href="#" class="filterShowHide" data-show="#filter-type" data-hide=".filter-filterTypeBox">&laquo; Back to filter types</a></p>
            This is the sample metadata filter
        </div>
        <div id="filter-sampleData" class="filter-filterTypeBox">
            <p class="small"><a href="#" class="filterShowHide" data-show="#filter-type" data-hide=".filter-filterTypeBox">&laquo; Back to filter types</a></p>
            This is the sample data filter
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
window.token = "{{user_token}}";
$(function(){

    // Change panel in the add filter dialogue
    $('.filterShowHide').click(function(e){
        e.preventDefault();
        $('body').css('min-height', $('body').height() );
        $( $(this).data('hide') ).slideUp();
        $( $(this).data('show') ).slideDown();
    });

    // Date preset buttons
    $('.filterDatePreset a').click(function(e){
        e.preventDefault();
        $('#filterDateTo').val("{{ dstamps['now'] }}");
        $('#filterDateFrom').val( $(this).data('datefrom') );
    });

    // Add date preset
    $('#filterDateAddBtn').click(function(e){
        e.preventDefault();
        var trow = '<tr>' +
            '<td><input type="checkbox"></td>' +
            '<td>Date range</td>' +
            '<td>From '+$('#filterDateFrom').val()+' until '+$('#filterDateTo').val()+'</td>' +
        '</tr>';
        $(trow).appendTo('#activeFiltersTable tbody').hide().slideDown();
        $('.filter-filterTypeBox').slideUp();
        $('#filter-addFilter').slideDown();
        init_filters_table();
    });
});

function init_filters_table(){
    console.log($('#activeFiltersTable tbody tr').length);
    if( $('#activeFiltersTable tbody tr').length == 0 ){
        $('#noActiveFiltersAlert').slideDown();
        $('#activeFiltersTable').slideUp();
    } else {
        $('#noActiveFiltersAlert').slideUp();
        $('#activeFiltersTable').slideDown();
    }
}
</script>
{% endblock %}
