
{% extends "layout.html" %}

{% block content %}

<h1>
    Configure Report Plot
    <span class="num_filtered_samples badge badge-pill {% if num_samples == 0 %}badge-danger{% elif num_samples > 100 %}badge-warning{% else %}badge-success{% endif %}">
        {{ num_samples }} samples
    </span>
    <i class="loading-spinner fa fa-spinner fa-pulse fa-3x fa-fw" style="display:none;"></i>
    <span class="loading-spinner" style="display:none;">Updating...</span>
</h1>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div id="activeFilters" class="card-body">
                <div class="pull-right activeFiltersActions">
                    With checked:
                    <button class="btn btn-sm btn-outline-info" id="sampleFiltersFavouriteBtn"><i class="fa fa-heart" aria-hidden="true"></i> Favourite</button>
                    <button class="btn btn-sm btn-outline-danger" id="sampleFiltersDeleteBtn"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                </div>
                <h3 class="mt-0">Active Filters</h3>
                <table id="activeFiltersTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width:20px;"><input type="checkbox" id="filtersCheckAll"></th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody><tr id="noactivefiltersrow"><td colspan="3">No active filters</td></tr></tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="card new-filter">
            <div class="card-body">
                <h3 class="mt-0">Add Filter</h3>
                <div id="filter-type">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn-light btn-block btn-filter-type filterShowHide" data-hide="#filter-type" data-show="#filter-dateRange">
                                Date range<br>
                                <small><em>e.g.</em> Last six months</small>
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn-light btn-block btn-filter-type filterShowHide" data-hide="#filter-type" data-show="#filter-report_meta">
                                Report metadata<br>
                                <small><em>e.g.</em> Submitted by <code>{{current_user.username}}</code></small>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn-light btn-block btn-filter-type filterShowHide" data-hide="#filter-type" data-show="#filter-sampleData">
                                Sample data query<br>
                                <small><em>e.g.</em> Where <code>%&nbsp;aligned &le;&nbsp;50%</code></small>
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn-light btn-block btn-filter-type filterShowHide" data-hide="#filter-type" data-show="#filter-favouriteFilters">
                                Favourite filters<br>
                                <small>Apply your favourite filters</small>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="filter-dateRange" class="filter-filterTypeBox">
                    <p class="small pull-right"><a href="#" class="filterShowHide" data-show="#filter-type" data-hide=".filter-filterTypeBox">&laquo; Back to filter types</a></p>
                    <h5 class="mt-0">Add Date Filter</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">Dynamic date ranges</div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="filterDatePresetType">Filter type</label>
                                        <select class="form-control" id="filterDatePresetType">
                                            <option value="le">Within dates</option>
                                            <option value="gt">Except dates</option>
                                        </select>
                                    </div>
                                    <div class="list-group filterDatePreset">
                                        <button type="button" class="list-group-item list-group-item-action" value="7">Last 7 days</button>
                                        <button type="button" class="list-group-item list-group-item-action" value="30">Last 30 days</button>
                                        <button type="button" class="list-group-item list-group-item-action" value="183">Last 6 months</button>
                                        <button type="button" class="list-group-item list-group-item-action" value="365">Last 12 months</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">Specific dates</div>
                                <div class="card-body">
                                    <form id="filterExactDateForm">
                                        <div class="form-group">
                                            <label for="filterDateType">Filter type</label>
                                            <select class="form-control" id="filterDateType">
                                                <option value="in">Within dates</option>
                                                <option value="not in">Except dates</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="filterDateTo">End date</label>
                                            <input type="date" class="form-control" id="filterDateTo" placeholder="yyyy-mm-dd">
                                        </div>
                                        <div class="form-group">
                                            <label for="filterDateFrom">Start date</label>
                                            <input type="date" class="form-control" id="filterDateFrom" placeholder="yyyy-mm-dd">
                                        </div>
                                        <button type="submit" class="btn btn-outline-primary">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            Add filter
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="filter-report_meta" class="filter-filterTypeBox">
                    <p class="small pull-right"><a href="#" class="filterShowHide" data-show="#filter-type" data-hide=".filter-filterTypeBox">&laquo; Back to filter types</a></p>
                    <h5 class="mt-0">Add Report Metadata Filter</h5>
                    <form id="filter-report_meta_form">
                        <div class="form-group row">
                            <label for="report_meta_field" class="col-sm-4 col-form-label">Field</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="report_meta_key">
                                    <option value="">[ select field ]</option>
                                    {% for field in report_fields %}
                                    <option value="{{ field.key }}">{{ field.nicename }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="report_meta_cmp" class="col-sm-4 col-form-label">Comparison</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="report_meta_cmp">
                                    <option value="in">Contains string</option>
                                    <option value="not in">Does not contain string</option>
                                    <option value="eq">(=) Equal to</option>
                                    <option value="ne">(!=) Not equal to</option>
                                    <option value="le">(&le;) Less than or equal to</option>
                                    <option value="lt">(&lt;) Less than</option>
                                    <option value="ge">(&ge;) Greater than or equal to</option>
                                    <option value="gt">(&gt;) Greater than</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="report_meta_value" class="col-sm-4 col-form-label">Value</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="report_meta_value" placeholder="Enter value here">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add filter
                        </button>
                        <a href="#" class="btn btn-outline-secondary ml-2 filterShowHide" data-show="#filter-type" data-hide=".filter-filterTypeBox">Cancel</a>
                    </form>
                </div>
                <div id="filter-sampleData" class="filter-filterTypeBox">
                    <p class="small pull-right"><a href="#" class="filterShowHide" data-show="#filter-type" data-hide=".filter-filterTypeBox">&laquo; Back to filter types</a></p>
                    <h5 class="mt-0">Add Sample Data Filter</h5>
                    <form id="filter-sample_data_form">
                        <div class="form-group row">
                            <label for="sample_data_field" class="col-sm-4 col-form-label">Field</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sample_data_key">
                                    <option value="">[ select field ]</option>
                                    {% for field in sample_fields %}
                                    <option value="{{ field.key }}" data-section="{{ field.section }}">{{ field.nicename }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="sample_data_cmp" class="col-sm-4 col-form-label">Comparison</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="sample_data_cmp">
                                    <option value="in">Contains string</option>
                                    <option value="not in">Does not contain string</option>
                                    <option value="eq">(=) Equal to</option>
                                    <option value="ne">(!=) Not equal to</option>
                                    <option value="le">(&le;) Less than or equal to</option>
                                    <option value="lt">(&lt;) Less than</option>
                                    <option value="ge">(&ge;) Greater than or equal to</option>
                                    <option value="gt">(&gt;) Greater than</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="sample_data_value" class="col-sm-4 col-form-label">Value</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="sample_data_value" placeholder="Enter value here">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add filter
                        </button>
                    </form>
                </div>
                <div id="filter-favouriteFilters" class="filter-filterTypeBox">
                    <p class="small pull-right"><a href="#" class="filterShowHide" data-show="#filter-type" data-hide=".filter-filterTypeBox">&laquo; Back to filter types</a></p>
                    <h5 class="mt-0">Add Favourite Filters</h5>
                    <span class="filter-favourites">
                        <div class="alert alert-secondary">
                            You don't have any favourite filters saved yet. To save a set of filters as a favourite, add them then tick their checkboxes and finally click the <em>Favourite</em> button.
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mt-3">
    <div class="card-body">
        <h3 class="mt-0">Choose Plot</h3>
        <form id="createReportPlotForm" method="get" action="{{ url_for('public.report_plot') }}">
            <div class="form-group">
                <label for="selectPlotType">Plot Type</label>
                <select class="form-control" id="selectPlotType" name="plot_type">
                    <option value="">[ select plot type ]</option>
                    {% for plot in report_plot_types %}
                    <option value="{{ plot['name'] }}">{{ plot['nicename'] }} ({{ plot['type'] }})</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Create Plot</button>
        </form>
    </div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
window.token = "{{user_token}}";
window.active_filters = {};
window.num_matching_samples = {{ num_samples }};
window.filter_error = false;
$(function(){

    // Check / uncheck all active filters
    $('#filtersCheckAll').change(function(e){
        if($(this).is(':checked')){
            $('.filterCheckbox').prop('checked', true);
        } else {
            $('.filterCheckbox').prop('checked', false);
        }
    });

    // Delete checked filters
    $('#sampleFiltersDeleteBtn').click(function(e){
        var checked_rows = $('#activeFiltersTable tbody tr').filter(':has(.filterCheckbox:checked)');
        if(checked_rows.length > 0){
            checked_rows.each(function(){
                delete window.active_filters[ $(this).attr('id') ];
                $(this).remove();
            });
            init_filters_table();
        }
    });

    // Save favourite filters
    $('#sampleFiltersFavouriteBtn').click(function(e){
        var checked_rows = $('#activeFiltersTable tbody tr').filter(':has(.filterCheckbox:checked)');
        var save_filters = [];
        if(checked_rows.length > 0){
            checked_rows.each(function(){
                save_filters.push($(this).text());
            });
            if(confirm("Are you sure that you want to add "+save_filters.length+" filters to your favourites?")){
                alert("Sorry, not yet implemented. Try again soon!");
            }
        }
    });

    // Change panel in the add filter dialogue
    $('.filterShowHide').click(function(e){
        e.preventDefault();
        $('body').css('min-height', $('body').height() );
        $( $(this).data('hide') ).slideUp();
        $( $(this).data('show') ).slideDown();
    });

    // Add date delta preset
    $('.filterDatePreset button').click(function(e){
        e.preventDefault();
        var filter_id = 'filter_'+Math.random().toString(36).substring(2);
        window.active_filters[filter_id] = {
            'type': 'timedelta',
            'key': 'timedelta',
            'value': parseInt($(this).val()),
            'cmp': $('#filterDatePresetType').val()
        };
        var trow = '<tr id="'+filter_id+'">' +
            '<td><input type="checkbox" class="filterCheckbox"></td>' +
            '<td>Date delta</td>' +
            '<td>'+$('#filterDatePresetType option:selected').text().replace(' dates','') + ' ' + $(this).text().toLowerCase()+'</td>' +
        '</tr>';
        $(trow).appendTo('#activeFiltersTable tbody').hide().slideDown();
        $('.filter-filterTypeBox').slideUp();
        $('#filter-type').slideDown();
        init_filters_table();
    });

    // Add specific date range
    $('#filterExactDateForm').submit(function(e){
        e.preventDefault();
        $('#filterDateFrom, #filterDateTo').removeClass('is-invalid');
        // Check that dates have been entered
        if($('#filterDateTo').val() == ''){
            toastr.error("You must enter a value for filterDateTo");
            $('#filterDateTo').addClass('is-invalid');
        }
        if($('#filterDateFrom').val() == ''){
            toastr.error("You must enter a value for filterDateFrom");
            $('#filterDateFrom').addClass('is-invalid');
        }
        if($('#filterDateTo').val() == '' || $('#filterDateFrom').val() == ''){
            return false;
        }
        var filter_id = 'filter_'+Math.random().toString(36).substring(2);
        window.active_filters[filter_id] = {
            'type': 'daterange',
            'key': 'daterange',
            'value': [$('#filterDateFrom').val(), $('#filterDateTo').val()],
            'cmp': $('#filterDateType').val()
        };
        var trow = '<tr id="'+filter_id+'">' +
            '<td><input type="checkbox" class="filterCheckbox"></td>' +
            '<td>Date range</td>' +
            '<td>' + $('#filterDateType option:selected').text().replace(' dates','') + ' <code>'+$('#filterDateFrom').val()+'</code> &raquo; <code>'+$('#filterDateTo').val()+'</code></td>' +
        '</tr>';
        $(trow).appendTo('#activeFiltersTable tbody').hide().slideDown();
        $('.filter-filterTypeBox').slideUp();
        $('#filter-type').slideDown();
        $('#filterDateFrom, #filterDateTo').val('');
        init_filters_table();
    });

    // Add a report meta filter
    $('#filter-report_meta_form').submit(function(e){
        e.preventDefault();
        $('#report_meta_key').removeClass('is-invalid');
        // Check that field has been picked
        if($('#report_meta_key').val() == ''){
            toastr.error("You must choose a field to filter on");
            $('#report_meta_key').addClass('is-invalid');
            return false;
        }
        // Add the filter
        var filter_id = 'filter_'+Math.random().toString(36).substring(2);
        window.active_filters[filter_id] = {
            'type': 'reportmeta',
            'key': $('#report_meta_key').val(),
            'value': $('#report_meta_value').val(),
            'cmp': $('#report_meta_cmp').val()
        };
        var trow = '<tr id="'+filter_id+'">' +
            '<td><input type="checkbox" class="filterCheckbox"></td>' +
            '<td>Report Metadata</td>' +
            '<td><code>' + $('#report_meta_key option:selected').text() + '</code> '+$('#report_meta_cmp option:selected').text().toLowerCase()+' <code>'+$('#report_meta_value').val()+'</code></td>' +
        '</tr>';
        $(trow).appendTo('#activeFiltersTable tbody').hide().slideDown();
        $('.filter-filterTypeBox').slideUp();
        $('#filter-type').slideDown();
        $('#report_meta_key, #report_meta_value').val('');
        $('#report_meta_cmp').prop('selectedIndex',0);
        init_filters_table();
    });

    // Add a sample data filter
    $('#filter-sample_data_form').submit(function(e){
        e.preventDefault();
        $('#sample_data_key').removeClass('is-invalid');
        // Check that field has been picked
        if($('#sample_data_key').val() == ''){
            toastr.error("You must choose a field to filter on");
            $('#sample_data_key').addClass('is-invalid');
            return false;
        }
        // Add the filter
        var filter_id = 'filter_'+Math.random().toString(36).substring(2);
        window.active_filters[filter_id] = {
            'type': 'samplemeta',
            'key': $('#sample_data_key').val(),
            'section': $('#sample_data_key option:selected').data('section'),
            'value': $('#sample_data_value').val(),
            'cmp': $('#sample_data_cmp').val()
        };
        var trow = '<tr id="'+filter_id+'">' +
            '<td><input type="checkbox" class="filterCheckbox"></td>' +
            '<td>Report Metadata</td>' +
            '<td><code>' + $('#sample_data_key option:selected').text() + '</code> '+$('#sample_data_cmp option:selected').text().toLowerCase()+' <code>'+$('#sample_data_value').val()+'</code></td>' +
        '</tr>';
        $(trow).appendTo('#activeFiltersTable tbody').hide().slideDown();
        $('.filter-filterTypeBox').slideUp();
        $('#filter-type').slideDown();
        $('#sample_data_key, #sample_data_value').val('');
        $('#sample_data_cmp').prop('selectedIndex',0);
        init_filters_table();
    });

    // Submit form to make a plot
    $('#createReportPlotForm').submit(function(e){
        // Check that there wasn't an error with the filters
        if(window.filter_error){
            toastr.error('There was an error applying your filters. Cannot make a plot.');
            e.preventDefault();
            return false;
        }
        // Check that some samples match the filters
        if(window.num_matching_samples == 0){
            toastr.error('Some samples must match your filters to make a plot.');
            e.preventDefault();
            return false;
        }
        // Check that a plot type has been selected
        if($('#selectPlotType').val() == ''){
            toastr.error('Please select a plot type.');
            e.preventDefault();
        }
    });
});

function init_filters_table(){
    if( $('#activeFiltersTable tbody tr').length == 0 ){
        $('#activeFiltersTable tbody').html('<tr id="noactivefiltersrow"><td colspan="3">No active filters</td></tr>');
    } else {
        $('#noactivefiltersrow').remove();
    }
    get_sample_count();
}

function get_sample_count(){

    // Show the loading spinner
    $('.loading-spinner').show();

    // Build the filter JSON and update the "Create Plot" form
    var filters = {'filters': []}
    var idx = 0;
    $('.report_sample_filter').remove();
    $.each(window.active_filters, function(k, d){
        filters.filters.push(d);
        $('#createReportPlotForm').append('<input type="hidden" class="report_sample_filter" name="f'+idx+'_k" value="'+d['key']+'">');
        $('#createReportPlotForm').append('<input type="hidden" class="report_sample_filter" name="f'+idx+'_t" value="'+d['type']+'">');
        $('#createReportPlotForm').append('<input type="hidden" class="report_sample_filter" name="f'+idx+'_c" value="'+d['cmp']+'">');
        $('#createReportPlotForm').append('<input type="hidden" class="report_sample_filter" name="f'+idx+'_v" value="'+d['value']+'">');
        idx += 1;
    });

    // Update the page when a new filter is added
    $.ajax({
        url: '/api/report_filter_fields',
        type: 'post',
        data:JSON.stringify( filters ),
        headers : { access_token:window.token },
        dataType: 'json',
        contentType: 'application/json; charset=UTF-8',
        success: function(data){
            if (data['success']){

                // Update the Javascript variables
                window.num_matching_samples = data['num_samples'];
                window.filter_error = false;

                // Update number of matching samples
                $('.num_filtered_samples').text(data['num_samples']+' samples');
                $('.num_filtered_samples').removeClass('badge-danger badge-success badge-warning');
                if(parseInt(data['num_samples']) == 0){
                    $('.num_filtered_samples').addClass('badge-danger');
                } else if(parseInt(data['num_samples']) > 100){
                    $('.num_filtered_samples').addClass('badge-warning');
                } else {
                    $('.num_filtered_samples').addClass('badge-success');
                }

                // Update the report metadata dropdown
                if(data['report_metadata_fields'].length > 0){
                    $('#report_meta_key').html('<option value="">[ select field ]</option>').attr('disabled', false);
                    $.each(data['report_metadata_fields'], function(idx, field){
                        $('#report_meta_key').append('<option value="'+field['key']+'">'+field['nicename']+'</option>')
                    });
                } else {
                    $('#report_meta_key').html('<option value="">[ no available fields ]</option>').attr('disabled', true);
                }

                // Update the sample metadata dropdown
                if(data['sample_metadata_fields'].length > 0){
                    $('#sample_data_key').html('<option value="">[ select field ]</option>').attr('disabled', false);
                    $.each(data['sample_metadata_fields'], function(idx, field){
                        $('#sample_data_key').append('<option value="'+field['key']+'">'+field['nicename']+'</option>')
                    });
                } else {
                    $('#sample_data_key').html('<option value="">[ no available fields ]</option>').attr('disabled', true);
                }

                // Update the report plot type dropdown
                console.log(data);
                if(data['report_plot_types'].length > 0){
                    $('#selectPlotType').html('<option value="">[ select plot type ]</option>').attr('disabled', false);
                    $.each(data['report_plot_types'], function(idx, field){
                        $('#selectPlotType').append('<option value="'+field['name']+'">'+field['nicename']+' ('+field['type']+')</option>')
                    });
                } else {
                    $('#selectPlotType').html('<option value="">[ no available fields ]</option>').attr('disabled', true);
                }

                // Hide the loading spinner
                $('.loading-spinner').hide();

            // AJAX data['success'] was false
            } else {
                console.log(data);
                toastr.error('There was an error applying the sample filters.');
                $('.num_filtered_samples').text('Error applying filters').removeClass('badge-success badge-warning').addClass('badge-danger');
                $('.loading-spinner').hide();
                window.num_matching_samples = 0;
                window.filter_error = true;
            }
        },
        error: function(data){
            toastr.error('There was an error applying the sample filters.');
            $('.num_filtered_samples').text('Error applying filters').removeClass('badge-success badge-warning').addClass('badge-danger');
            $('.loading-spinner').hide();
            window.num_matching_samples = 0;
            window.filter_error = true;
        }
    });

}

</script>
{% endblock %}
