
{% extends "layout.html" %}
{% block content %}

<h1 class="mt-4 mb-4">
    Data Trends
    <i class="loading-spinner fa fa-spinner fa-pulse fa-3x fa-fw" style="display:none;"></i>
    <span class="loading-spinner" style="display:none;">Loading...</span>
</h1>

<div class="row plot-setup">
    <div class="col-md-6">
        {% include "public/filter_samples_selectbox.html" %}
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header">Choose Fields to Plot</h4>
            <div class="card-body">
                <form class="mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Filter fields" id="fields_filter_input">
                        <div class="input-group-btn">
                            <!-- TODO: Add back once the back-end is written
                            <button class="btn btn-outline-info" id="fields_favourite_toggle">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                Favs Only
                            </button>
                            -->
                            <button class="btn btn-outline-success" id="fields_selected_toggle">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Selected Only
                            </button>
                            <button class="btn btn-outline-danger" id="fields_clear_selection">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                Clear
                            </button>
                        </div>
                    </div>
                </form>
            <div class="list-group with-filter" id="field_listgroup">
                {% for sf in sample_fields %}
                    <a href="#trend_plot" class="trend-field-btn list-group-item list-group-item-action" data-fieldid="{{ sf.type_id }}">
                    {{ sf.nicename }}
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card megaqc_plot" id="trend_plot">
    <h4 class="card-header">
        <button id="save-plot-favourite" type="button" disabled class="float-right btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#save_plot_favourite_modal">
            <i class="fa fa-heart" aria-hidden="true"></i>
            Save plot favourite
        </button>
        <span id="plot-name">Trend Plot</span>
    </h4>
    <div class="card-body">
        <div id="plotdiv">
            <p class="text-secondary">Please choose fields to plot</p>
        </div>
    </div>
</div>

<!-- Create New Filter Set -->
{% include "public/filter_samples_modal.html" %}

<!-- Modal for saving a favourite plot -->
{% include "public/save_plot_favourite_modal.html" %}

{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/js/filter_samples.js"></script>
<script type="text/javascript">
$(function(){

    // Filter field types by typing
    $('#fields_filter_input').keyup(function(e){
        filter_field_types();
    });

    // Toggle field types - selected only
    $('#fields_favourite_toggle, #fields_selected_toggle').click(function(e){
        e.preventDefault();
        $(this).toggleClass('active');
        filter_field_types();
    });

    // Clear field selection
    $('#fields_clear_selection').click(function(e){
        $('#field_listgroup a').removeClass('active');
        filter_field_types();
        create_plot();
    });

    // Function to filter the list of available plot types
    function filter_field_types(){
        var favs_only = $('#fields_favourite_toggle').hasClass('active');
        var selected_only = $('#fields_selected_toggle').hasClass('active');
        $('#field_listgroup a').each(function(e){
            var display = true;
            if(favs_only && $(this).find('.report-plot-type-save-fav').hasClass('fa-heart-o')){
                display = false;
            }
            if(selected_only && !$(this).hasClass('active')){
                display = false;
            }
            var ft = $('#fields_filter_input').val().trim().toLowerCase();
            var pt_name = $(this).text().trim().toLowerCase();
            if(ft.length > 0 && pt_name.indexOf(ft) == -1){
                display = false;
            }
            if(display){
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    // Sample filter set clicked / added
    $(document).on('sample-filter-clicked sample-filter-added', function(e, fs){
        create_plot();
    });

    // A sample field to plot is chosen
    $('body').on('click', '.trend-field-btn', function(e){
        e.preventDefault();
        $(this).toggleClass('active');
        create_plot();
    });

    // Create a plot
    function create_plot(){
        // Show the loading spinners
        $('.loading-spinner').show();
        $('#plotdiv').html('<p>' +
            '<i class="loading-spinner fa fa-spinner fa-pulse fa-3x fa-fw"></i> ' +
            '<span class="loading-spinner">Loading...</span>' +
        '</p>');
        $('#save-plot-favourite').prop('disabled', true);
        // Get the active field to plot
        field_ids = [];
        field_titles = [];
        $('.trend-field-btn.active').each(function(e){
            field_ids.push($(this).data('fieldid'));
            field_titles.push($(this).text().trim());
        });
        if(field_ids.length == 0){
            $('#plot-name').text('Trend Plot');
            $('#plotdiv').html('<p class="text-secondary">Please choose fields to plot</p>');
            $('.loading-spinner').hide();
            return;
        }
        plot_header = field_titles.length + ' Fields';
        if(field_titles.length < 3){
            plot_header = field_titles.join(', ');
        }
        $('#plot-name').text(plot_header);
        $('#plot_favourite_description').val('Trend plot: `'+field_titles.join('`, `')+'`');
        // Cancel any running update_filters ajax call
        if(window.ajax_update !== false){
            window.ajax_update.abort();
        }
        // Get the plot HTML
        window.ajax_update = $.ajax({
            url: '/api/get_trend_plot',
            type: 'post',
            data: JSON.stringify( {
                'filters_id': $('.sample-filter-btn.active').first().data('filterid'),
                'fields': field_ids
            }),
            headers : { access_token:window.token },
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            success: function(data){
                if (data['success']){
                    // Wait 300ms to ensure the page scroll has finished
                    setTimeout(function(){
                        $('#plotdiv').html(data['plot']);
                        $('.loading-spinner').hide();
                        $('#save-plot-favourite').prop('disabled', false);
                    }, 300);
                }
                // AJAX data['success'] was false
                else {
                    console.log(data);
                    toastr.error('There was an error whilst generating this plot.');
                    $('#plotdiv').html('<p class="text-danger mb-0">Error generating plot.</p>');
                    $('.loading-spinner').hide();
                    $('#save-plot-favourite').prop('disabled', true);
                }
            },
            error: function(data){
                toastr.error('There was an error retrieving this plot.');
                $('#plotdiv').html('<p class="text-danger mb-0">Error generating plot.</p>');
                $('.loading-spinner').hide();
                $('#save-plot-favourite').prop('disabled', true);
            }
        });
    }

    // Save a plot as a favourite
    $('#save_plot_favourite_form').submit(function(e){
        e.preventDefault();

        // Get the active field to plot
        field_ids = [];
        $('.trend-field-btn.active').each(function(e){
            field_ids.push($(this).data('fieldid'));
        });

        // Save using a function in megaqc.js
        save_plot_favourite('trend',{
            'filters_id': $('.sample-filter-btn.active').first().data('filterid'),
            'fields': field_ids
        });

    });
});
</script>
{% endblock %}
