/* MegaQC Styles */

input[type=button], button {
  cursor: pointer;
}
img {
    max-width: 100%;
}
blockquote {
  border-left: 5px solid #8eb9dd;
  background-color: #e8f1f8;
  padding: 10px 10px 10px 20px;
  margin: 25px 0;
  color: #666;
}
.monospace {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
h1, h2, h3 {
  margin: 20px 0;
}

body {
    background-color: #EEEEEE;
}
.page-content {
    background-color: #FFFFFF;
}
nav.navbar {
    margin-bottom: 1rem;
    background-color: #eeeeee;
    border-bottom: 1px solid #cccccc;
}
#loginForm input {
    background-color: #eeeeee;
    transition: background-color 0.1s;
}
#loginForm input::placeholder {
    color: #999;
    transition: color 0.1s;
}
#loginForm input:focus,
#loginForm input:active {
    background-color: $white;
}

footer {
    background-color: #eeeeee;
    border-top: 1px solid #ccc;
    font-size: 0.7rem;
    color: #999;
    padding: 1.5rem 0;
    margin-top: 2rem;
}
footer p {
    margin: 0;
}
footer p a {
    color: #999;
    text-decoration: underline;
}

.modal-xl {
    height:600px;
    width:90%;
}
.card .card-body pre {
  margin-bottom: 0;
}
