/* MegaQC Styles */

input[type=button], button {
    cursor: pointer;
}
img {
    max-width: 100%;
}
label {
    font-weight: bold;
}
blockquote {
    border-left: 5px solid #8eb9dd;
    background-color: #e8f1f8;
    padding: 10px 10px 10px 20px;
    margin: 25px 0;
    color: #666;
}
.monospace {
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

@font-face { font-family: Roboto; src: url(../fonts/roboto/Roboto-Thin.ttf); font-weight: 100; }
@font-face { font-family: Roboto; src: url(../fonts/roboto/Roboto-Light.ttf); font-weight: 300; }
@font-face { font-family: Roboto; src: url(../fonts/roboto/Roboto-Regular.ttf); font-weight: 400; }
@font-face { font-family: Roboto; src: url(../fonts/roboto/Roboto-Medium.ttf); font-weight: 500; }
@font-face { font-family: Roboto; src: url(../fonts/roboto/Roboto-Bold.ttf); font-weight: 700; }
@font-face { font-family: Roboto; src: url(../fonts/roboto/Roboto-Black.ttf); font-weight: 900; }
@font-face { font-family: Roboto; src: url(../fonts/roboto/Roboto-ThinItalic.ttf); font-weight: 100; font-style: italic; }
@font-face { font-family: Roboto; src: url(../fonts/roboto/Roboto-LightItalic.ttf); font-weight: 300; font-style: italic; }
@font-face { font-family: Roboto; src: url(../fonts/roboto/Roboto-Italic.ttf); font-weight: 400; font-style: italic; }
@font-face { font-family: Roboto; src: url(../fonts/roboto/Roboto-MediumItalic.ttf); font-weight: 500; font-style: italic; }
@font-face { font-family: Roboto; src: url(../fonts/roboto/Roboto-BoldItalic.ttf); font-weight: 700; font-style: italic; }
@font-face { font-family: Roboto; src: url(../fonts/roboto/Roboto-BlackItalic.ttf); font-weight: 900; font-style: italic; }

.navbar-brand {
    font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
    font-family: Roboto;
}
h5, h6 {
    font-weight: 400;
}

body {
    background-color: #EEEEEE;
    color: #666666;
}
.page-content {
    background-color: #FFFFFF;
}
nav.navbar {
    margin-bottom: 1rem;
    background-color: #eeeeee;
    border-bottom: 1px solid #cccccc;
}
.megaqc-header-samplecount {
    text-align: right;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 1.6rem 3rem;
}

footer {
    background-color: #eeeeee;
    border-top: 1px solid #ccc;
    font-size: 0.7rem;
    color: #999;
    padding: 1.5rem 0;
    margin-top: 2rem;
}
footer p {
    margin: 0;
}
footer p a {
    color: #999;
    text-decoration: underline;
}

.modal-xl {
    height:600px;
    width:90%;
}
.card .card-body pre {
    margin-bottom: 0;
}

.plot-chooser-card {
    margin-bottom: 1rem;
}
.plot-chooser-card h4 {
    margin-top: 0;
    font-weight: 300;
}
.plot-chooser-card a {
    color: #666666;
}
.plot-chooser-card a:hover {
    text-decoration: none;
}

.plot-chooser-card .card-body {
    padding: 0.8rem;
}


.num_filtered_samples {
    font-size: 50%;
    font-weight: 400;
    vertical-align: middle;
    margin-left: 12px;
}

.activeFiltersActions button {
    margin-left: 8px;
}

.new-filter .btn-filter-type {
    padding: 20px;
    border: 3px dashed #ccc;
    border-radius: 10px;
    min-width: 200px;
    margin-bottom: 20px;
}
.new-filter .filter-filterTypeBox {
    display: none;
}


