
{% extends "layout.html" %}
{% block content %}
  <h1>Change Your Password</h1>
  <form id="password_form" method="POST" action="" role="form">
    <div class="form-group row">
      {{ form.password.label(class_="col-sm-2 col-form-label") }}
      <div class="col-sm-10 col-md-5">
        {{ form.password(placeholder="New Password", class_="form-control pw_input") }}
      </div>
    </div>
    <div class="form-group row">
      {{ form.confirm.label(class_="col-sm-2 col-form-label") }}
      <div class="col-sm-10 col-md-5">
        {{form.confirm(placeholder="Re-type Password", class_="form-control pw_input")}}
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Submit" id="password_submit"/>
      </div>
    </div>
  </form>
{% endblock %}

{% block js %}
  <script type="text/javascript">window.token = "{{ current_user.api_token }}" </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/members.js') }}"></script>
{% endblock %}

