
{% extends "layout.html" %}
{% block content %}
<h1>Manage Users</h1>

<form id="user_form" method="POST" action="" role="form">

    <h3 class="mt-4">Add new user</h3>
    <table id="add_table" class="table">
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Active</th>
        <th>Admin</th>
        <th>Add</th>
      </tr>
      <tr>
        <td><input class="form-control" name="user_id" type="hidden" value={{ users_data[-1].user_id + 1 }} /><input class="form-control" name="username" type="text" /></td>
        <td><input class="form-control" name="email" type="email" /></td>
        <td><input class="form-control" name="first_name" type="text" /></td>
        <td><input class="form-control" name="last_name" type="text" /></td>
        <td class="align-middle"><input class="form-control" name="active" type="checkbox" /></td>
        <td class="align-middle"><input class="form-control" name="is_admin" type="checkbox" /></td>
        <td><input type="button" class="btn btn-success add_btn" name="add_btn" value="Add"/></td>
      </tr>
    </table>




    <h3 class="mt-4">Registered users</h3>
    {{ form.csrf_token}}
    <table id="user_table" class="table">
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>API Token</th>
        <th>Active</th>
        <th>Admin</th>
        <th style="width:240px;">Actions</th>
      </tr>
      {% for user in users_data %}
      <tr>
        <td><input name="user_id" type="hidden" value={{user.user_id}} /><input class="form-control" name="username" type="text" value = {{user.username}} /></td>
        <td><input class="form-control" name="email" type="email" value="{{user.email}}" /></td>
        <td><input class="form-control" name="first_name" type="text" value="{{user.first_name}}" /></td>
        <td><input class="form-control" name="last_name" type="text" value="{{user.last_name}}" /></td>
        <td><input class="form-control monospace" name="api_token" type="text" value="{{user.api_token}}" disabled="disabled" /></td>
        <td class="align-middle"><input class="form-control" name="active" type="checkbox"  {% if user.active %}checked="checked"{% endif %} /></td>
        <td class="align-middle"><input class="form-control" name="is_admin" type="checkbox" {% if user.is_admin %}checked="checked"{% endif %} /></td>
        <td>
          <input type="button" class="btn btn-sm btn-outline-primary update_btn" name="update_btn" value="Update"/>
          <input type="button" class="btn btn-sm btn-outline-warning reset_btn" name="reset_btn" value="Reset PW"/>
          <input type="button" class="btn btn-sm btn-outline-danger delete_btn" name="delete_btn" value="Delete"/>
        </td>
      </tr>
    {% endfor %}
    </table>

</form>

{% endblock %}

{% block js %}
  <script type="text/javascript">window.token = "{{ current_user.api_token }}" </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}
