
{% extends "layout.html" %}
{% block content %}
    <h1>Welcome {{ current_user.username }}</h1>
    <h3>This is the members-only page.</h3>
    <h4> Here is your identification token : {{current_user.api_token}}</h4>
    <form id="password_form">
    <table class="table" width="30%">
        <tr>
            <td>Change {{form.password.label}}</td>
            <td>{{form.password(placeholder="Password", class_="form-control pw_input")}}</td>
        </tr>
        <tr>
            <td>{{form.confirm.label}}</td>
            <td>{{form.confirm(placeholder="Re-type Password", class_="form-control pw_input")}}</td>
        </tr>
        <tr><td colspan="2"><input type="button" class="btn btn-primary" value="Submit" id="password_submit"/></td></tr>
    </table>
    </form>
  <script type="text/javascript">window.token = "{{ current_user.api_token }}" </script>
  <script type="text/javascript" src="/static/libs/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/members.js') }}"></script>
{% endblock %}

