
{% extends "layout.html" %}
{% block content %}
  <h1>MultiQC Configuration</h1>

  <h3 class="mt-4">Your identification token</h3>
  <p>To push data to MegaQC from MultiQC, you need an API authentication token. This needs to be added
    to the MultiQC configuration. To do this, copy the following to your user MultiQC configuration
    file in <code>~/.multiqc_config.yaml</code>:</p>
  <div class="card mb-3">
    <div class="card-header">
      <button class="pull-right btn btn-copy btn-sm btn-outline-secondary" data-clipboard-target="#multiqc_config">Copy</button>
      <code>~/.multiqc_config.yaml</code>
    </div>
    <div class="card-body">
      <pre><code id="multiqc_config"><span style="color:#22863a;">megaqc_url:</span> <span style="color:#005cc5;">{{url_for('api.queue_multiqc_data', _external=True)}}<br><span style="color:#22863a;">megaqc_access_token:</span> <span style="color:#005cc5;">{{current_user.api_token}}</span></code></pre>
    </div>
  </div>
  <p>Note that this identification key is specific to you and should not be shared with any other users.</p>

  <h4>Troubleshooting</h4>
  <p>If you're having difficulties getting MultiQC to send data, you can test the connection using this command:</p>
  <div class="card mb-3">
    <div class="card-header">
      <button class="pull-right btn btn-copy btn-sm btn-outline-secondary" data-clipboard-target="#api_key_test_cmd">Copy</button>
      Test connection command
    </div>
    <div class="card-body">
      <pre><code id="api_key_test_cmd">curl -H "access_token: {{current_user.api_token}}" -H "Content-Type: application/json" {{url_for('api.test', _external=True)}}</code></pre>
    </div>
  </div>
  <p>You should get a response that looks like this:</p>
  <div class="card mb-3">
    <div class="card-body">
      <pre><code>{<br>  "name": "{{current_user.username}}"<br>}</code></pre>
    </div>
  </div>
  <p>If the command times out or returns an error, this may indicate a problem with your firewall or connection.</p>
{% endblock %}
