// main: main.scss

// MegaQC Core Styles
//   Central styling - stuff like fonts and common elements

nav.navbar {
    margin-bottom: 1rem;
}

footer {
    background-color: $gray-lighter;
    border-top: 1px solid #ccc;
    font-size: 0.7rem;
    color: #999;
    padding: 1.5rem 0;
    margin-top: 2rem;
}
footer p {
    margin: 0;
}
footer p a {
    color: #999;
    text-decoration: underline;
}