
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="../../favicon.ico">

  <title>{% block page_title %}MultiQC_DB{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='public/css/main.css') }}">
  {% assets "css_all" %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
  {% block css %}{% endblock %}
  
</head>

<body>
{% block body %}

  {% with form=form  %}
  {% include "nav.html" %}
  {% endwith %}

  {% if self.header() %}<header>{% block header %}{% endblock %}</header>{% endif %}
  <div class="{% block content_class %}container{% endblock content_class %}">

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{message}}
        </div>
        {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}

  </div><!-- /.container -->
  
  
  {% include "footer.html" %}

  <!-- JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='public/js/multiqc_db.min.js') }}"></script>
  {% assets "js_all" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
  {% block js %}{% endblock %}

{% endblock %}
</body>
</html>