
{% extends "layout.html" %}

{% block page_title %}Server error{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
        <h1>500: Internal Server Error</h1>
        <p>Sorry, something went wrong on our system.</p>
        <p>If this keeps happening, please let the system administrator know. <br>
        If you are the system administrator, check the server logs to see what's going wrong... <i class="fa fa-bug" aria-hidden="true"></i></p>
    </div>
</div>
{% endblock %}

