<footer>
  <div class="container-fluid">
    <a href="http://www.scilifelab.se/" target="_blank" class="pull-right">
      <img src="{{ url_for('static', filename='img/SciLifeLab_logo.png') }}" style="height:41px;">
    </a>
    <p>
        <a href="http://multiqc.info/db" target="_blank">MegaQC v{{ version }}</a>
         - Written by Phil Ewels and Denis Moreno,
        available on <a href="https://github.com/ewels/MegaQC" target="_blank">GitHub</a>.
    </p>
    <p>
      MegaQC uses
      <a href="http://flask.pocoo.org/" target="_blank">Flask</a>,
      <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>,
      <a href="http://fontawesome.io/" target="_blank">Font-Awesome</a> and
      <a href="https://jquery.com/" target="_blank">jQuery</a>.
    </p>
  </div>
</footer>
