<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{{ url_for('static', filename='public/img/favicon.png') }}">

  <title>{% block page_title %}MegaQC{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  {% if debug %}
  {% assets "css_all" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
  {% else %}
  <link rel="stylesheet" href="{{ url_for('static', filename='public/css/main.css') }}">
  {% endif %}

  {% block css %}{% endblock %}

</head>

<body>
{% block body %}

  {% with form=form  %}
  {% include "nav.html" %}
  {% endwith %}

  {% if self.header() %}<header>{% block header %}{% endblock %}</header>{% endif %}
  <div class="{% block content_class %}container-fluid{% endblock content_class %}">

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{message}}
        </div>
        {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}

  </div><!-- /.container -->


  {% include "footer.html" %}

  <!-- JavaScript -->
  {% if debug %}
  {% assets "js_all" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
  {% else %}
  <script type="text/javascript" src="{{ url_for('static', filename='public/js/megaqc.min.js') }}"></script>
  {% endif %}
  {% block js %}{% endblock %}

{% endblock %}
</body>
</html>