<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">

  <title>{% block page_title %}MegaQC{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <!-- CSS imports -->
  <link rel="stylesheet" href="/static/css/tether.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/component-chosen.min.css">
  <link rel="stylesheet" href="/static/css/toastr.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
  {% block css %}{% endblock %}

</head>

<body>
<div class="page-content">
{% block body %}

  {% include "nav.html" %}

  {% if self.header() %}<header>{% block header %}{% endblock %}</header>{% endif %}
  <div class="{% block content_class %}container-fluid{% endblock content_class %}">

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{message | safe}}
        </div>
        {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}

  </div><!-- /.container-fluid -->


  {% include "footer.html" %}

{% endblock %}
</div><!-- /.page-content -->

<!-- JavaScript -->
<script type="text/javascript" src="/static/js/libs/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/libs/popper.min.js"></script>
<script type="text/javascript" src="/static/js/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/libs/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/static/js/libs/toastr.min.js"></script>
<script type="text/javascript" src="/static/js/libs/clipboard.min.js"></script>
<script type="text/javascript" src="/static/js/megaqc.js"></script>
<script type="text/javascript">
{% if user_token %}window.token = "{{ user_token }}";{%- endif %}
{% if report_fields_json %}window.report_fields = {{ report_fields_json | safe }};{%- endif %}
{% if sample_fields_json %}window.sample_fields = {{ sample_fields_json | safe }};{%- endif %}
{% if num_samples %}window.num_matching_samples = {{ num_samples }};{%- endif %}
</script>
{% block js %}{% endblock %}

</body>
</html>
